/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5; /* Light grey background for the whole page */
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
}

.app-container {
    max-width: 1400px; /* Slightly wider for better graph display */
    margin: 0 auto;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px; /* Increased padding */
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    border-radius: 10px; /* Softer radius */
    box-shadow: 0 4px 8px rgba(0,0,0,0.05); /* Softer shadow */
}

.header img {
    height: 50px; /* Adjusted logo size */
    width: auto;
}

.header h1 {
    font-size: 26px; /* Slightly adjusted */
    font-weight: 600;
    color: #2c3e50; /* Dark blue-grey */
    margin: 0 20px; /* Add margin around title */
    text-align: center;
    flex-grow: 1;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    gap: 25px; /* Space between dropdown containers */
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.control-item {
    flex: 1; /* Each control item takes equal space */
    display: flex;
    flex-direction: column;
}

.control-item label {
    font-size: 15px; /* Adjusted size */
    font-weight: 500;
    margin-bottom: 10px; /* Increased space */
    color: #34495e; /* Slate grey */
}

/* Ensure Poppins font in dropdown options */
.Select-menu-outer, .VirtualizedSelectOption {
    font-family: 'Poppins', sans-serif !important;
}
.Select--single > .Select-control .Select-value,
.Select--single > .Select-control .Select-placeholder {
    line-height: 38px; /* Adjust if dcc.Dropdown height changes */
}


.graph-container {
    background-color: #ffffff;
    padding: 10px; /* More padding around graph */
    border-radius: 12px; /* More pronounced radius */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08); /* More prominent shadow for the graph */
    margin-top: 10px;
}